[core]
	excludesfile = /Users/lawrence/dotfiles/global.gitignore
	hooksPath=/Users/lawrence/dotfiles/git-hooks
[user]
	name = Lawrence Forooghian
	# Email is set in ~/.gitconfig_local, e.g.
	# email = lawrence@forooghian.com
	useConfigOnly = true
	signingkey = C0C4A6A46EB6AD78
[rebase]
	autoStash = true
	autoSquash = true
[commit]
	verbose = true
	gpgsign = true
[include]
	path = ~/.gitconfig_local
[absorb]
	maxStack = 100
[grep]
	patternType = perl

[alias]
	# https://tekin.co.uk/2020/01/clean-up-your-git-branches-and-repositories
	delete-merged = !git branch --merged master | egrep -v \"(^\\*|^  master$)\" | xargs git branch --delete
[cinnabar]
	version-check = 1591461021
	helper = /Users/lawrence/.mozbuild/git-cinnabar/git-cinnabar-helper
[pull]
	ff = only
[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P
