[core]
	excludesfile = /Users/lawrence/dotfiles/global.gitignore
	hooksPath=/Users/lawrence/dotfiles/git-hooks
[user]
	# These values are set in ~/.gitconfig_local, e.g.
	# name = Lawrence Forooghian
	# email = lawrence@forooghian.com
[rebase]
	autoStash = true
	autoSquash = true
[commit]
	verbose = true
[include]
	path = ~/.gitconfig_local
