<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>8140389B-E0DD-4A5C-AA01-B5BC6460AC16</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>spanish</string>
			<key>text</key>
			<string>Search SpanishDict for '{query}'</string>
			<key>url</key>
			<string>https://www.spanishdict.com/translate/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
